{% extends "base.html" %}

{% block title %}Contato{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header text-white text-center" style="background-color: #CD853F">
                    <h2>Contato</h2>
                </div>
                <div class="card-body">
                    <p class="text-center mb-4">
                        Entre em contato conosco! Estamos à disposição para responder suas dúvidas.
                        Somos uma empresa de gerenciamento de Currículo focada na sua contratação e seu sucesso no mercado de trabalho!!!
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Endereço:</strong> Rua Procura, 3956, Bairro Alegria, Cidade Exemplo - CEP 20252025
                        </li>
                        <li class="list-group-item">
                            <strong>Telefone:</strong> (11) 98765-4321
                        </li>
                        <li class="list-group-item">
                            <strong>E-mail:</strong> rh@mulhercomp.com
                        </li>
                        <li class="list-group-item">
                            <strong>Horário de Atendimento:</strong> Segunda a Sexta, das 8h às 18h
                        </li>
                    </ul>
                </div>
                <div class="card-footer text-center text-muted">
                    <p><strong>Visite nossas redes sociais!</strong></p>
                    <a href="#"> <img src="static/imagens/I.png" width="80px" alt="Logo"></a>
                    <a href="#"> <img src="static/imagens/F.png" width="60px" alt="Logo"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
